
.idea/

resources/

cmake-build-debug/

cmake-build-release/

CMakeFiles/

out/

Koivisto.exe

callgrind.out.106985

Koivisto

src_files/.vscode/

src_files/main.cpp

threadScaling.png

ThreadScalingScript.py

bin/

bin/!.gitignore

*.json
